body{ /*Posso utilizar as tags mais gerais também*/
    background-color: gray;
}

h1{ /* Escolhe qual tag para escolher*/
    background-color: red; /*Define a cor de fundo da tag h1, como vermelho*/
    color: white; /* Define a cor da fonte branca*/
    font-size: 14px; /* Define o tamanho da tag*/
}

/* h2{  (Para comentar, utilize, os comandos no inicio dessa linha
    background-color: green;
    color: white;
} */

.result{ /*Chama a classe result, o ".", diz ao CSS que estamos nos referindo a uma classe, e não uma tag*/
    background-color: green;
    color: white;
}